@import "tailwindcss";

@font-face {
  font-family: "Amer";
  src: url("../assets/fonts/american-grotesk.woff2");
}

@font-face {
  font-family: "fig";
  src: url("../assets/fonts/figtree.woff2");
}

html,
body {
  scroll-behavior: smooth;
}